<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header id="header">

    </header>
    <main>
        <div id="app">
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="container  d-flex flex-wrap  justify-content-around">
                        <div class="card" v-for="elemento in alumnos" style="width:200px; margin-top: 10px;">
                            <!-- <img class="card-img-top" :src="elemento.imagen" :alt="elemento.nombre"> -->
                            <div class="card-body">
                                <p class="card-title">Nombre: {{elemento.nombre}}</p>
                                <p class="card-text">Apellido: {{elemento.apellido}}</p>
                                <p class="card-text">Edad: {{elemento.edad}}</p>
                                <p class="card-text">Instrumento: {{elemento.instrumento}}</p>
                                <!-- <button v-on:click="comprar(elemento.id)">Comprar</button> -->
                            </div>
                        </div>
                </section>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->

    <script src="./js/main.js"></script>
    <script src="./js/alumnos.js"></script>
</body>

</html>